

#background {
  background-image: url("background1.jpg");
  width: 100px;
  height: 100px;
}

body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c5c5;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* .slider.round {
  border-radius: 34px;
} */

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #c1cbd7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c1cbd7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(35px);
}

.topnav {
overflow: hidden;
background-color: #dfe3ee;
}

.topnav a {
float: left;
color: #000000;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #c1cbd7;
color: white;
}

#contentDiv {
position: absolute;
top: 0;
left: 0;
width: 100%;
}

#parentDiv {
position: relative;
}